header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(45deg, #2563eb, #1944a0, #266bff);
    background-size: 300% 300%;
    animation: gradientMover 5s ease infinite;
    box-shadow: 1px 2px 12px rgba(86, 1, 143, 0.08);
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--logo);
}

.logo i {
    margin-right: 8px;
}

.nav-links {
    display: flex;
    gap: 35px;
    color: var(--logo);
}

.nav-links a {
    font-weight: 500;
    font-size: 20px;
    transition: .3s;
}

.nav-links a:hover {
    color: var(--text);
}

.login-btn:hover {
    color: var(--primary);
    background: rgb(253, 253, 253);
    border: var(--background) solid 1px;
    transform: translateY(-2px);
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

#theme-toggle {

    width: 45px;
    height: 45px;

    border: none;

    border-radius: 50%;

    background: var(--background);

    color: var(--primary);

    cursor: pointer;

    transition: .3s;

    margin-right: 15px;

}

#theme-toggle:hover {

    background: var(--accent);

    color: white;

}