* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #2563eb;
    --primary-dark: #1d4ed8;

    --accent: #f59e0b;

    --background: #f8fafc;
    --surface: #ffffff;

    --logo: #ffffff;
    --text: #1e293b;
    --text-light: #64748b;

    --border: #e2e8f0;

    --success: #16a34a;
    --danger: #dc2626;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--surface);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: var(--primary);
    box-shadow: 1px 2px 12px rgba(86, 1, 143, 0.08);
}

.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--logo);
}

.logo i {
    margin-right: 8px;
}

.nav-links {
    display: flex;
    gap: 35px;
    color: var(--logo);
}

.nav-links a {
    font-weight: 500;
    transition: .3s;
}

.nav-links a:hover {
    color: var(--text);
}

.login-btn {
    background: var(--background);
    color: var(--text-light);
    font-size: 15px;
    font-weight: bolder;
    border: var(--primary) solid 2px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: .5s;
}

.login-btn:hover {
    color: var(--background);
    background: var(--primary-dark);
    border: var(--background) solid 2px;
    transform: translateY(-2px);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    min-height: 85vh;
    gap: 60px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--text);
}

.hero-content p {
    font-size: 1.1rem;
    color: var(--text-light);
    margin-bottom: 35px;
    max-width: 550px;
}

.hero-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 16px 34px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.hero-btn:hover {
    background: var(--primary-dark);
    transform: translateY(-2px);
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 550px;
}